/* no changes made */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* added font-family */
body {
    background-color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* set background color of header, add spacing, and made text white */
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

/* removed . and added > to include everything inside h1 */
header > h1 {
    display: inline-block;
    font-size: 48px;
}

/* removed .header h1 .seo to make it a little cleaner */
header span {
    color: #d9dcd6;
}

/* changed .header div to nav to group together content including navigation links */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* revised to ensure that ul was grouped in nav and not .header div that was removed */
nav ul {
    list-style-type: none;
}

/* changed .header div to nav to ensure all content within ul, including li, was grouped together */
nav > ul > li {
    display: inline-block;
    margin-left: 25px;
}

/* no changes made */
a {
    color: #ffffff;
    text-decoration: none; <img src="./assets/images/lead-generation.png" alt="lead/profit generation icon"/> <!-- added alt text for accessibility -->
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* no changes made */
.float-left {
    float: left;
    margin-right: 25px;
}

/* no changes made */
.float-right {
    float: right;
    margin-left: 25px;
}

/* no changes made */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* consolidated search-engine-optimization, online-reputation-management, social-media-marketing into one content section */
.content > section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* 
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

/*consolidated search-engine-optimization, online-reputation-management, social-media-marketing img*/
.content img {
    max-height: 200px;
}

/* consolidated search-engine-optimization, online-reputation-management, social-media-marketing h2 */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

/* when leaving .benefits part as is, the h3 headers would not space appropriately. If I tried to include the entire contents of the benefits div, the entire block would move down to the bottom of the page*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* added .benefits section because I was unable to get the spacing to work properly with just the top details. When I tried to include everything within the .benefits (above). */
.benefits section {
    margin:20px;
}

/* consolidated lead generation, brand awareness and cost management into one class */
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

/* .benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}*/

/* consolidated lead, brand and cost h3 into one class */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
} */

/* consolidated lead, brand and cost img into one class */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

p {
    font-size: 16px;
}

/* deleted font-family since it's included in body and . since it was not necessary to find footer */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

/* removed . from footer since it was not necessary */
footer h2 {
    font-size: 20px;
}
